body {
  padding-top: 50px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #555555;
  background-color: #ffffff;
}

.nav-header{
  display: block;
  padding: .5em 1em;
  border-radius: .25rem;
  color: #818a91;
  background-color: transparent;
}
